// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// fonts
$font-primary-100: 'MuseoSansCyrl-100', Helvetica, Arial, sans-serif;
$font-primary-300: 'MuseoSansCyrl-300', Helvetica, Arial, sans-serif;
$font-primary-500: 'MuseoSansCyrl-500', Helvetica, Arial, sans-serif;
$font-primary-700: 'MuseoSansCyrl-700', Helvetica, Arial, sans-serif;
$font-primary-900: 'MuseoSansCyrl-900', Helvetica, Arial, sans-serif;

$font-secondary-500: 'MuseoCyrl-500', Helvetica, Arial, sans-serif;

$font-numbers: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-icons: 'websymbolsligaregular';
