// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// fonts
$font-primary-100: 'MuseoSansCyrl-100', Helvetica, Arial, sans-serif;
$font-primary-300: 'MuseoSansCyrl-300', Helvetica, Arial, sans-serif;
$font-primary-500: 'MuseoSansCyrl-500', Helvetica, Arial, sans-serif;
$font-primary-700: 'MuseoSansCyrl-700', Helvetica, Arial, sans-serif;
$font-primary-900: 'MuseoSansCyrl-900', Helvetica, Arial, sans-serif;

$font-secondary-500: 'MuseoCyrl-500', Helvetica, Arial, sans-serif;

$font-numbers: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-icons: 'websymbolsligaregular';

// transitions
$transition-primary: .3s;

// colors nsk.kz
$color-blue: #0098df;
$color-blue-lighter: #0094df;
$color-blue-darker: #1383b8;
$color-blue-darkest: #0158a6;
$color-gray: #a7b0b4;
$color-gray-lighter: #e6e6e6;
$color-orange: #eb5216;
$color-orange-darker: #de5616;
$color-bg: #f8f9fa;
$color-green: #0fba20;
$color-red: #eb5216;
$color-icon-header: #5E6C71;
$color-btn-disabled: #D2D7DA;
$color-grey-light: #777777;
$color-gray-lighter2: #ebebeb;
